<network>
  <name>{{ default_network }}</name>
  <bridge name="{{ default_network_bridge }}"/>
  <forward mode="nat"/>
  <ip address="{{ default_network_ip }}" netmask="{{ default_network_mask }}">
    <dhcp>
      <range start="{{ default_network_start }}" end="{{ default_network_end }}"/>
    </dhcp>
  </ip>
</network>
