protocol kernel {
	scan time 60;
	import all;
	export all;
}

protocol device {
	scan time 60;
}

protocol direct {
	export all;
}

{% for (key,item) in bgp_servers.iteritems() %}
protocol bgp {{ item.name }} {
    local {{ host_ip }} as {{ host_as }};

    import all;
    export all;
    neighbor {{ item.ip }} as {{ item.as }};
}
{% endfor %}
