#cloud-config
package_upgrade: true
hostname: {{ hostname }}
users:
  - name: deployer
    groups: sudo
    lock_passwd: false
    passwd: {{ vm_pass }}
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys:
        - {{ ssh_path }}
