package_upgrade: true
hostname: {{ vm_name }}
users:
  - name: deployer
    groups: sudo
    lock_passwd: false
    passwd: $6$IYRqBN7d0dpkX2BM$fuVL.a6smKmrwJpWDQn5F5QIbjy2oDQMaDvDIWjNDBHynmJSTsrROxHi4DwmwYuqW1qfp/EZJbFXkOpsnRhXP.
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys:
        - {{ ssh_path }}
